<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" routerLink="/"><a href="#">Back</a></li>
          <li class="breadcrumb-item" aria-current="page">Asset Chat - {{ chat.id }}</li>
        </ol>
      </nav>
    </div>
    <nb-layout>
      <nb-layout-column>
        <nb-chat title="Chatroom: Asset Bivucazumbibibibi" size="giant" scrollBottom="true">
          <nb-chat-message *ngFor="let msg of messages" [type]="msg?.type" [message]="msg?.content"
            [reply]="msg?.uid !== user?.uid" [sender]="getUserName(msg.user)" [date]="getCreatedDate(msg)"
            [files]="msg?.files" [quote]="msg?.quote" [avatar]="msg?.user?.avatar">
          </nb-chat-message>
          <nb-chat-message *ngFor="let typerId of chat.typing | filterUid:user.uid" [type]="text" [reply]="typerId !== user.uid" [message]="getTypingUserById(typerId)">
          </nb-chat-message>
          <nb-chat-form (send)="submit($event, chat.id)" [dropFiles]="true">
          </nb-chat-form>
        </nb-chat>
      </nb-layout-column>
    </nb-layout>
  </ng-container>
</ng-container>