<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" routerLink="/"><a href="#">Back</a></li>
          <li class="breadcrumb-item" aria-current="page">Asset Chat - {{ chat.id }}</li>
        </ol>
      </nav>
    </div>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
      <mat-card *ngFor="let msg of messages; trackBy: trackByCreated" style="margin: 8px; width: 600px">
        <mat-card-header>
          <img mat-card-avatar [src]="msg.user?.photoURL || 'assets/account.png'" width="50px">
          <mat-card-title>{{ getUserName(msg.user) }}</mat-card-title>
          <mat-card-subtitle>{{ getCreatedDate(msg) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card
            [ngStyle]="{'background-color':msg.uid !== user.uid ? 'lightgrey' : '#536DFE', 'color':msg.uid !== user.uid ? 'black' : 'white' }">
            {{ msg.content }}
          </mat-card>
        </mat-card-content>
      </mat-card>

      <ng-container *ngFor="let typerId of chat.typing">
        <mat-card *ngIf="typerId !== user.uid" [ngStyle]="{'background-color': 'lightgrey', 'color': 'black'}">
          {{ getUserById(typerId) }} is typing ...
        </mat-card>
      </ng-container>


      <div [formGroup]="chatForm" fxLayout="row" style="width: 600px;" fxLayoutGap="1%">
        <mat-form-field fxFlex="80%">
          <textarea matInput placeholder="Message" formControlName="message"></textarea>
        </mat-form-field> 
        <button fxFlex mat-fab color="primary" (click)="submit(chat.id)" [disabled]="!chatForm.get('message').value">
          <mat-icon>send</mat-icon>
        </button>
        <button fxFlex mat-fab color="secondary">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</ng-container>
