<h1>Welcome to BTBX Chat</h1>

<div class="login">
  <div *ngIf=" auth.user$ | async as user; else login">
    <img [src]="user.photoURL" width="50px">
    <p>{{ getUserName(user) }}</p>

    <button mat-raised-button color="secondary" (click)="auth.signOut()">Sign Out</button>
    <hr>

    <button mat-raised-button color="primary" (click)="cs.create()">Create New Chat</button>

    <hr>

    <h3>Chatrooms</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <button mat-raised-button color="primary" style="margin: 8px" [routerLink]="'chats/' + chat.id">Asset: {{ chat.id }} - {{ chat.messages.length }} Messages - Chat </button>
      </li>
    </ul>
  </div>

  <ng-template #login>
    <button mat-raised-button color="primary" (click)="auth.googleSignIn()">Login with Google</button>
  </ng-template>

</div>